.DogApp {

}

.DogApp-header {
  background-color: #34113F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.DogApp-footer {
  background-color: #34113F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.DogApp-main {
  padding: 2em;
  background-color: #ABA9BF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.DogApp-link {
  color: #61dafb;
}

