.header {
  background-color: #34113F;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.header .caption {
    text-transform: uppercase;
    font-size: calc(10px + 4vmin);
}

.navigation {
  background-color: #642a76;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navigation a {
  color: #ffffff;
  text-decoration: none;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.navigation a:hover {
    background-color: #a557bd;
}

.footer {
  background-color: #34113F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.main {
  padding: 0.5em;
  background-color: #ABA9BF;
  color: rgb(0, 0, 0);
}
.main .caption {
  text-transform: uppercase;
}

a {
  color: #61dafb;
}


